.hide{
  display: none;
}

.header-shape {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  right: 0;
  z-index: -1;
}

.header {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgb(50 50 93 / 12%), 0 -1px 4px rgb(0 0 0 / 6%);
  display: flex !important;
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .main-menu {
    .menu {
      list-style: none;
      display: flex;
      margin: 0;
    }

    .submenu-container {
      background-color: #fff;
      border-radius: 15px;
      color: #3b3f47;
      box-shadow: 0 10px 30px rgb(50 50 93 / 12%), 0 -1px 4px rgb(0 0 0 / 6%);
      width: 100%;
      position: absolute;
      z-index: 9;
      right: 0;
      //top: calc(100% + 10px);
      transform: translateY(40px);
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s;
      transition-delay: 0.2s;
      display: flex;
      justify-content: center;
      padding: 20px;

      .submenu-inner {
        display: flex;
      }
    }

    li {
      display: flex;

      &:hover .submenu-container {
        opacity: 1;
        visibility: visible;
        transform: translateY(75px);
      }
    }

    a {
      text-decoration: none;
      padding: 20px 15px;
    }
  }
}


