@import url(fontiran.css);
@import url(reset.css);

/* global */
* {
    box-sizing: border-box;
}

body {
    font-family: IRANSans, serif;
    color: #333;
}

button, a {
  font-family: IRANSans, serif;
}

.container {
    width: 1280px;
    margin-right: auto;
    margin-left: auto;
}

.content {
  margin: 48px 0;
}

h1 {
  margin-bottom: 32px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 32px;
}

footer {
  margin-bottom: 100px;
  margin-top: 32px;
  display: flex;
  justify-content: flex-end;
}

.go-top {
  font-size: 18px;
  background-color: #ddd;
  border: 2px solid #171717;
  padding: 6px 20px;
  border-radius: 8px;
  cursor: pointer;
  position: fixed;
  bottom: -50px;
  left: 32px;
  visibility: hidden;
  transition: visibility 0.3s linear,opacity 0.3s linear,bottom 0.3s linear;
  opacity: 0;
}

.go-top.show {
  visibility: visible;
  opacity: 1;
  bottom: 32px;
}


