@import url(fontiran.css);
@import url(reset.css);

/* global */
* {
    box-sizing: border-box;
}

body {
    font-family: IRANSans, serif;
    color: #333;
    height: 3000px; /* TODO: Should be remove in production */
}

.wrapper {

}

.container {
    width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 16px;
    padding-left: 16px;
}

/* header */
.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px;
    margin-bottom: 150px;
}

.header .right {
    display: flex;
    align-items: center;
}

.header .right .title {
    font-weight: bold;
    margin-left: 16px;
    color: inherit;
    text-decoration: none;
}

/*
:hover
:active
:focus

*/

.header .right nav {

}

.header .right ul {
    display: flex;
}

.header .right ul li {
}

.header .right ul li a {
    padding: 0 8px;
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

/* :hover */
.header .right ul li a.active, .header .right ul li a:hover {
    border-bottom: 2px #93bb58 solid;
}

.header .left {

}

.header .left .tel {
    margin-left: 12px;
    font-size: 13px;
    letter-spacing: 2px;
}

.header .left .google {
    text-decoration: none;
    background-color: #93bb58;
    color: #fff;
    padding: 2px 16px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 300;
}

/* content */
.content {
    display: flex;
    flex-direction: column;
}

/* heading */
.heading {
    margin-bottom: 100px;
}

.heading h1 {
    font-size: 28px;
    font-weight: 900;
    line-height: 33px;
    margin-bottom: 16px;
    position: relative;
    display: inline-flex;
}

.heading .bird {
    position: absolute;
    bottom: 100%;
    right: 100%;
}

.heading h2 {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 16px;
    color: #444;
}

/* first post */
.first-post {
    margin-bottom: 30px;
}

.first-post .last-article {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: bold;
    display: inline-flex;
}

.first-post .box {
    display: flex;
    border: 2px solid #444;
    border-radius: 12px;
    padding: 12px 12px 12px 120px;
    position: relative;
}

.first-post .bicycle {
    position: absolute;
    bottom: calc(100% + 2px);
    left: 0;
}

.first-post img {
    border-radius: 12px;
}

.first-post .left {
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-post .date-and-author {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 65px;
}

.first-post .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #171717;
}

.first-post .desc {
    font-size: 14px;
    line-height: 2;
    margin-bottom: 40px;
}

.first-post .link {
    text-decoration: none;
    background-color: #93bb58;
    color: #fff;
    padding: 6px 20px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 300;
    transition: background-color 250ms;
}

.first-post .link:hover {
    background-color: #395503;
}

/*.slideList {*/
/*    width: 600px;*/
/*    background: #6e5cff;*/
/*}*/

/*..................................Gallery*/
.gallery {
    display: flex;;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.image-gallery {
    width: 200px;
    height: 200px;
    border-radius: 25px;
}

.galleryone {
    display: flex;
    justify-content: center;
}

.gallerytwo {
    display: flex;
    justify-content: center;
}

.card-gallery {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

a {
    text-decoration: none;
    color: forestgreen;
    font-weight: bold;
}

.gallery-info {
    width: 200px;
    padding-right: 5px;
    padding-top: 5px;
}

/*.................................. session 09*/
.slideList {
    /*background: #6e5cff;*/
    width: 100%;
    /*height: 100px;*/
    /*overflow-X: auto;*/
    display: flex;
    /*justify-content: center;*/
    position: relative;
    margin-bottom: 30px;
}

section.slideList::after {
    content: "";
    width: 25%;
    height: 100%;
    position: absolute;
    box-shadow: inset -100px 0 50px #fff;
}

.slide-btn {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    margin-right: 2px;
    margin-left: 2px;
    border: 1px solid #dddddd;
    background-color: white;
    font-weight: bold;
    font-family: IRANSans, serif;

}

.slide-btn:focus {
    background-color: #93bb58;
    color: #dddddd;
}

.slide-btn:hover {
    background-color: #dddddd;
    color: #1a0904;
    cursor: pointer;

}

.slide-form {
    width: 200px;
    text-align: center;
    border: 2px solid green;
    border-radius: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
}

.search-input {
    border: none;
    outline: none;
    background: none;
    padding-right: 1px;

}

.search-input:focus {
    border: none;
}

.search-btn {
    border: none;
    background: none;
}

/*.................................. session 11*/

/* Slider */
.post-slider .box {

}

.post-slider .inner {
    margin: 16px
}

.post-slider img {
    width: 100%;
    border-radius: 16px;
    margin-bottom: 12px;
}

.post-slider h5 {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 8px;
}

.post-slider .desc {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 12px;
}

.post-slider .more {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    background-color: #333;
    padding: 2px 8px;
    border-radius: 4px;
    transition: margin-right 250ms, background-color 350ms;
}

.post-slider .more:hover {
    margin-right: 10px;
    background-color: #93bb58;
}

/* Responsive Design */
@media only screen and (max-width: 1280px) {
    .container {
        width: 768px;
    }
    .first-post .box {
        padding: 12px;
        flex-direction: column;
    }
    .first-post .box .left {
        margin-right: 0;
    }
    .first-post .date-and-author {
        margin-bottom: 16px;
    }
    .first-post .title {
        margin-bottom: 16px;
    }
    .first-post .desc {
        margin-bottom: 24px;
    }
    .first-post .left {
        margin-bottom: 16px;
    }
}