.ads {
  margin-bottom: 50px;

  .inner {
    margin-right: -16px;
    margin-left: -16px;
    display: flex;
    flex-wrap: wrap;
  }

  .multiple-ads {
    margin-right: -8px;
    margin-left: -8px;
    display: flex;
    flex-wrap: wrap;
  }

  .img {
    padding: 16px 8px;
  }

  img {
    width: 100%;
    display: flex;
  }
}