
.parent {
  display: flex !important;
  padding: 0 !important;
  margin-bottom: 16px;

  .left {
    display: flex;

  }


  .details {
    padding-right: 16px;
    width: 100%;

    .button {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 32px;
    }

    .title {
      font-size: 25px;
      font-weight: bold;
      color: #45424E;
      line-height: 160%;
      margin-top: 10px;
    }

    .path {

      .line {
        padding-left: 10px;
        color: #6B7C93;
      }
    }

    .price {
      color: #e0b0e9;
      display: flex;
      align-items: center;
      margin-top: 24px;
      padding-bottom: 40px;

      .number {
        font-size: 25px;
        font-weight: bold;
        //line-height: 160%;
        padding-left: 5px;
      }
    }

    .size {
      display: flex;
      flex-direction: column;

      .textsize {
        font-size: large;
        margin-bottom: 10px;
      }
    }
  }
}