body {
    padding-right: 30%;
    padding-top: 5%;
}

.myBox {
    border: 5px darkviolet dashed;
    width: 500px;
    height: 500px;
    padding: 20px;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("https://img.freepik.com/free-photo/hand-painted-wa…-sky-clouds-shape_24972-1095.jpg?size=626&ext=jpg");
}
.parentListBox {
    background-image: url("https://www.w3schools.com/css/img_tree.png");
    background-position: left top;
    background-repeat: no-repeat;
}
ul {
    width: 250px;
    border: 5px solid #f66709;
    border-radius: 10px;
    list-style-type: circle;
    padding: 10px;
}

ul li {
    list-style-type: lower-latin;
    list-style-position: inside
}
ol li {
    list-style-type: none;
    margin-left: 10px;
    margin-top: 10px;
}
